[submodule "external/tree-sitter"]
	path = external/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "external/tree-sitter-c"]
	path = external/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c
[submodule "external/tree-sitter-cpp"]
	path = external/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
[submodule "external/tree-sitter-json"]
	path = external/tree-sitter-json
	url = https://github.com/tree-sitter/tree-sitter-json
[submodule "external/tree-sitter-javascript"]
	path = external/tree-sitter-javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript
